<div class="container">
	<h1>New Task</h1>
	<%= form_for [@task] do |f| %>
		<%= f.text_field :issue, placeholder: "Issue" %><br>
		<%= f.text_field :description, placeholder: "Description" %><br>
		<br>
		<%= f.submit "Submit", class:"btn btn-primary" %>
	<% end %>	
</div>

