<p>This is your purchase</p>
<p>Your purchase is <%= @purchase.inspect %></p>

<p>Here is <a href="https://s3-us-west-2.amazonaws.com/vividkick/russian_hill.png">Your file</a>
</p>
<p>Here is your <a href="https://s3-us-west-2.amazonaws.com/vividkick/terin.pdf">2nd file</a> </p>