<div class="container">
	<h1>New Post</h1>
	<%= form_for @micropost do |f| %>
	<p><%= f.text_field :content, placeholder: "Post it!!" %></p>
	<p><%= f.submit "Post", class: "btn btn-primary" %></p>
	<% end %>
</div>
