<table border="1">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Release Date</th>
		<th>Price</th>
	</tr>
    <% @products.each do |product| %>
      <tr>
      	<td><%= product.id %></td>
      	<td><%= product.name %></td>
      	<td><%= product.released_on %></td>
      	<td><%= product.price %></td>
      </tr>
    <% end %>
 </table>
